﻿@model PaginationViewModel

@{
    var pagination = Model.Pagination;
}
<div class="panel">
    <p>Page @(pagination.TotalPages < pagination.CurrentPage ? 0 : pagination.CurrentPage) of @pagination.TotalPages</p>

    @if (pagination.EndPage > 1)
    {
        <ul id="pager" class="pagination">
            @if (pagination.CurrentPage > 1)
            {
                <li><a href="?page=1#pager">First</a></li>
                <li><a href="?page=@(pagination.CurrentPage - 1)#pager">Previous</a></li>
            }

            @for (var p = pagination.StartPage; p <= pagination.EndPage; p++)
            {
                <li><a href="?page=@p#pager">@p</a></li>
            }

            @if (pagination.CurrentPage < pagination.TotalPages)
            {
                if (pagination.TotalPages - pagination.EndPage > 1)
                {
                    <li><a href="#">&hellip;</a></li>
                    <li><a href="?page=@pagination.TotalPages#pager">@pagination.TotalPages</a></li>
                }

                <li><a href="?page=@(pagination.CurrentPage + 1)#pager">Next</a></li>
                <li><a href="?page=@pagination.TotalPages#pager">Last</a></li>
            }
        </ul>
    }
</div>