﻿
@{
    ViewData["Title"] = "About";
    ViewData["Heading"] = "About";
}

<h2> Wipro Digital Web Crawler Utility</h2>

<br />

<h3>Author</h3>

<p>Ryan E. Anderson</p>

<hr />

<h3>Description</h3>

<p>This utility can be used to efficiently crawl a website to gather links and produce the structure of a site. This solution contains five projects: WiproDigital.Utility, WiproDigital.WebCrawler, WiproDigital.WebCrawler.Abstractions, WiproDigital.WebCrawler.Test, and WiproDigital.WebCrawler.UI. The web crawler works by repeatedly invoking a method to gather all nested links based on an initial set from the first page of a provided URL.</p>

<hr />

<h3>Technologies</h3>

<ul class="list-group">
    <li class="list-group-item">
        ASP.NET Core 2.0
    </li>
    <li class="list-group-item">
        C#
    </li>
    <li class="list-group-item">
        ASP.NET Core MVC
    </li>
    <li class="list-group-item">
        xUnit
    </li>
    <li class="list-group-item">
        Moq
    </li>
    <li class="list-group-item">
        Bootstrap 3.3.7
    </li>
    <li class="list-group-item">
        HTML
    </li>
    <li class="list-group-item">
        CSS
    </li>
    <li class="list-group-item">
        Razor
    </li>
    <li class="list-group-item">
        Bash
    </li>
    <li class="list-group-item">
        Markdown
    </li>
    <li class="list-group-item">
        Git
    </li>
    <li class="list-group-item">
        Json.NET
    </li>
</ul>

<h3>Design Patterns</h3>

<ul class="list-group">
    <li class="list-group-item">
        Utility
    </li>
    <li class="list-group-item">
        Lazy Loading
    </li>
    <li class="list-group-item">
        Singleton
    </li>
    <li class="list-group-item">
        Dependency Injection
    </li>
</ul>

<h3>Architectural Patterns</h3>

<ul class="list-group">
    <li class="list-group-item">
        n-Layer
    </li>
    <li class="list-group-item">
        n-Tier
    </li>
    <li class="list-group-item">
        MVC
    </li>
    <li class="list-group-item">
        MVVM
    </li>
</ul>

<hr />

<h3>Version</h3>

<p>1.2.0</p>

<hr />

<h3>License</h3>

<p>None</p>

<hr />

<h3>Instructions for Evaluating the Web Crawler Utility</h3>

<h4>General Setup</h4>

<p>Change to the WiproDigital directory, and open WiproDigital.sln.</p>

<h4>End-to-End Testing</h4>

<ol>
    <li>
        First, ensure that the WiproDigital.WebCrawler.UI project is set as the StartUp project.
    </li>
    <li>
        Run the program to launch the WebCrawler site.
    </li>
    <li>
        Enter a URL.
    </li>
    <li>
        Press the "Crawl" button.
    </li>
</ol>

<h4>Integration/Unit Testing</h4>

<ol>
    <li>
        Copy the WiproDigital.WebCrawler.UI.deps file from the bin directory of WiproDigital.WebCrawler.UI to that of WiproDigital.WebCrawler.Test.
    </li>
    <li>
        In Visual Studio, click on Test from the menu bar, and select Run All Tests.
    </li>
</ol>
