﻿@model WebCrawlerViewModel

@{
    ViewData["Title"] = "Web Crawler";
    ViewData["Heading"] = "Web Crawler";
}

<h3>v1.2.0</h3>

<p>Try the web crawler, a utility developed by Ryan Anderson.</p>

<div class="row">
    <div class="col-lg-6">
        <form asp-controller="WebCrawler" asp-action="Crawl" class="form-inline">
            <div class="form-group">
                <label for="url" class="control-label">URL:</label>
                <input type="text" id="url" name="url" class="form-control" asp-for="Url" placeholder="Enter a valid URL..." />
                <button type="submit" class="btn btn-primary">Crawl</button>
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
        </form>
    </div>
    <div class="col-lg-9">&nbsp;</div>
</div>
<div class="row">
    <div id="result" class="col-lg-12">
        @if (bool.TryParse(ViewData["Visible"].ToString(), out bool checkedVisbility) && checkedVisbility)
        {
            <h4>Result</h4>
            <p>Duration: @Model.Duration.Seconds s</p>
            <p>Groups: @Model.SiteStructureLinkGroups.Count</p>
            <p>Links: @Model.SiteStructureLinkGroups.Sum(x => x.Count)</p>
            <hr />
            <h4>Site Map</h4>
            <ul class="list-group">
                @{
                    var pagination = new Pagination(Model.SiteStructureLinkGroups.Count, Model.PageIndex ?? 1, 5);

                    var linkGroups = Model.SiteStructureLinkGroups.Skip((pagination.CurrentPage - 1) * pagination.PageSize).Take(pagination.PageSize);
                }

                @foreach (var linkGroup in linkGroups)
                {
                    var first = linkGroup.FirstOrDefault();

                    if (string.IsNullOrWhiteSpace(first))
                    {
                        continue;
                    }

                    var tokens = first.Split('/');
                    var token = tokens[tokens.Length > 1 ? 1 : 0];

                    @:<li class="list-group-item"><b>@(string.IsNullOrWhiteSpace(token) ? "/" : token)</b></li>
                    foreach (var link in linkGroup)
                    {
                        @: <li class="list-group-item"><a href=@($"{Model.Url}{link}")>@link</a></li>
                    }
                }
            </ul>
            @await Component.InvokeAsync("Pagination", new { paginationViewModel = new PaginationViewModel(pagination) })
        }
    </div>
</div>
