﻿
@{
    ViewData["Title"] = "Sample";
    ViewData["Heading"] = "Sample";
}

<p>Below are links to static HTML pages that contain sample paths for test scenarios.</p>

<ul>
    <li>
        <a href="~/html/StaticSampleAbsolutePath.html">Static Sample Absolute Path</a>
    </li>
    <li>
        <a href="~/html/StaticSampleFragment.html">Static Sample Fragment</a>
    </li>
    <li>
        <a href="~/html/StaticSampleQuery.html">Static Sample Query</a>
    </li>
    <li>
        <a href="~/html/StaticSampleRelativePath.html">Static Sample Relative Path</a>
    </li>
    <li>
        <a href="~/html/StaticSampleSubdomain.html">Static Sample Subdomain</a>
    </li>
</ul>